---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import { CrushingWheel } from '../components/CrushingWheel'
import { Millstone } from '../components/Millstone'
---

<Layout title='Welcome to Astro.'>
  <main>
    <h1>Create mod processing speed calculator</h1>
    All calculations are based on <a
      href='https://create.fandom.com/wiki/Crushing_Wheel?so=search#Crushing_Speed'
      >Crushing wheel</a
    > and <a href='https://create.fandom.com/wiki/Millstone#Throughput_(Speed)'
      >Millstone</a
    > wikis
    <div class='itemDesc'>
      <h2>Crushing wheel processing speed</h2>
      <img src='Crushing_Wheel.webp' alt='crushing wheel' />
    </div>
    <CrushingWheel client:only />
    <div class='itemDesc'>
      <h2>Millstone processing speed</h2>
      <img src='Millstone.webp' alt='millstone' />
    </div>
    <Millstone client:only />
  </main>
</Layout>

<style>
  a {
    color: yellow;
  }

  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .itemDesc {
    margin-top: 4rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    img {
      width: 200px;
      object-fit: contain;
    }
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
